@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var selectListChude = ViewBag.SelectListChude as List<SelectListItem>;
}
@{
    ViewData["Active"] = "pageDiemsoThongke";
}

<h1 class="display-6 mb-3" style="text-align:center">
    DỮ LIỆU ĐỌC TÀI LIỆU ĐÀO TẠO
</h1>
<div class="card mb-3 text-bg-white ">
    <div class="card-body">
        <div class="row gx-3 gy-2 align-items-center">
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">
                    <i class="bi-1-circle-fill"></i>
                    Bộ phận
                </label>
                <select id="deptSelectList" class="form-select text-bg-light">
                    <option value="0" disabled selected>Nhấn để chọn</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">
                    <i class="bi-2-circle-fill"></i>
                    Model
                </label>
                <select id="modelSelectList" class="form-select text-bg-light">
                    <option value="0" disabled selected>Nhấn để chọn</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">
                    <i class="bi-3-circle-fill"></i>
                    Cell
                </label>
                <select id="cellSelectList" class="form-select text-bg-light">
                    <option value="0" disabled selected>Nhấn để chọn</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">Ngày </label>
                <input type="text" id="datepicker" class="form-select text-bg-light " autocomplete="off" placeholder="Nhấn để chọn">
            </div>
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">
                    <i class="bi-1-circle-fill"></i>
                    Chủ đề
                </label>
                <select id="catSelectList" asp-items="selectListChude" class="form-select text-bg-light">
                    <option value="0" disabled selected>Nhấn để chọn</option>
                </select>
            </div>
            <div class="col-sm-9">
                <label for="formGroupExampleInput" class="form-label">
                    <i class="bi-2-circle-fill"></i>
                    Tên tài liệu
                </label>
                <select id="postSelectList" class="form-select text-bg-light">
                    <option value="0" disabled selected>Nhấn để chọn</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="formGroupExampleInput" class="form-label">Mã nhân viên</label>
                <input type="text" id="txtuserName" class="form-control  text-bg-light" autocomplete="off" placeholder="Nhập mã nhân viên">
            </div>
            <div class="col-sm-6">
                <label for="formGroupExampleInput" class="form-label">Tên nhân viên</label>
                <input type="text" id="txtName" class="form-control text-bg-light " autocomplete="off" placeholder="Nhập mã nhân viên">
            </div>
        </div>
    </div>
</div>

<div id="ketquaTimkiem">
</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Admin/DeptUser/GetSelectListDept',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var selectList = $('#deptSelectList');
                $.each(data, function (index, item) {
                    selectList.append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            },
            error: function () {
                console.error('Failed to retrieve department options.');
            }
        });

        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            format: 'YYYY-MM-DD',
            defaultDate: null,  // Đặt mặc định là ngày hiện tại
            onSelect: function () {
                loadDataTheoChuDe();
            }
        });

        $('#catSelectList').on("change", function () {
            var catId = $(this).val();
            catId = parseInt(catId);
            $.ajax({
                url: 'GetSelectListPost',
                type: 'POST',
                data: { catId: catId },
                dataType: 'json',
                success: function (data) {
                    var selectList = $('#postSelectList');
                    selectList.empty()
                    selectList.append($('<option>', {
                        value: null,
                        text: "Nhấn để chọn"
                    }))
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function () {
                    console.error('Failed to retrieve department options.');
                }
            });
        });

        $('#postSelectList').on("change", function () {
            var postId = $(this).val();
            postId = parseInt(postId);
            let selectboPhanId = $('#deptSelectList').val();
            if (selectboPhanId != null && selectboPhanId != "Nhấn để chọn") {
                loadDataTheoChuDe();
            }
        });

        $('#deptSelectList').on("change", function () {
            var deptId = $(this).val();
            deptId = parseInt(deptId);
            $.ajax({
                url: '/Admin/DeptUser/GetSelectListModel',
                type: 'POST',
                data: { deptId: deptId },
                dataType: 'json',
                success: function (data) {
                    var selectList = $('#modelSelectList');
                    selectList.empty()
                    selectList.append($('<option>', {
                        value: null,
                        text: "Nhấn để chọn"
                    }))
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                    let selectPostValue = $('#postSelectList').val();
                    if (selectPostValue != null && selectPostValue != "Nhấn để chọn") {
                        loadDataTheoChuDe();
                    }
                },
                error: function () {
                    console.error('Failed to retrieve department options.');
                }
            });
        });

        $('#modelSelectList').on("change", function () {
            var modelId = $(this).val();
            modelId = parseInt(modelId);
            $.ajax({
                url: '/Admin/DeptUser/GetSelectListCelll',
                type: 'POST',
                data: { modelId: modelId },
                dataType: 'json',
                success: function (data) {
                    var selectList = $('#cellSelectList');
                    selectList.empty()
                    selectList.append($('<option>', {
                        value: null,
                        text: "Nhấn để chọn"
                    }))
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                    let selectPostValue = $('#postSelectList').val();
                    if (selectPostValue != null && selectPostValue != "Nhấn để chọn") {
                        loadDataTheoChuDe();
                    }
                },
                error: function () {
                    console.error('Failed to retrieve department options.');
                }
            });
        })

        $('#cellSelectList').on("change", function () {
            let selectPostValue = $('#postSelectList').val();
            if (selectPostValue != null && selectPostValue != "Nhấn để chọn") {
                loadDataTheoChuDe();
            }
        })

        $('#txtuserName').on("keyup", function () {
            loadDataTheoChuDe();
        });

        $('#txtName').on("keyup", function () {
            loadDataTheoChuDe();
        });

        function loadDataTheoChuDe() {
            var selectCatValue = $('#catSelectList').val();
            var selectPostValue = $('#postSelectList').val();

            var selectboPhanId = $('#deptSelectList').val();
            var selectmodelId = $('#modelSelectList').val();
            var selectcellId = $('#cellSelectList').val();

            var selectDate = $('#datepicker').val();
            var name = $('#txtName').val();
            var userName = $('#txtuserName').val();

            var intPostId = parseInt(selectPostValue);
            var intboPhanId = parseInt(selectboPhanId);
            var intmodelId = parseInt(selectmodelId);
            var intcellId = parseInt(selectcellId);

            $.ajax({
                url: '/admin/tailieudaotao/Search',
                type: 'POST',
                data: {
                    PostId: intPostId,
                    Date: selectDate,
                    boPhanId: selectboPhanId,
                    modelId: intmodelId,
                    cellId: intcellId,
                    name: name,
                    userName: userName
                },
                success: function (data) {
                    $('#ketquaTimkiem').html(data);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    });
</script>
