@{
    int thisQ = Convert.ToInt32(ViewBag.numQuestionTuLuan);
    int totalQTuLuan = Convert.ToInt32(ViewBag.soluongcauhoiTuLuan);

    double percentProcessbar = ((double)thisQ / totalQTuLuan) * 100;
    string pP = percentProcessbar.ToString("0") + "%";

    if(thisQ == totalQTuLuan)
    {
        pP = "100%";
    }
}
<div class="progress-group">
    <div class="progress-group-header">
        <small class="text-muted ">
            Đã trả lời @thisQ / @totalQTuLuan câu hỏi
        </small>
    </div>
    <div class="progress-group-bars">
        <div class="progress ">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @pP"></div>
        </div>
    </div>
</div>
<div class="text-center text-muted mt-3">
    <h1 class="display-6" style="font-size:larger">
        <br />
        Đã hoàn thành phần thi tự luận
    </h1>
</div>
