@{
    int thisQ = Convert.ToInt32(ViewBag.numQuestionTuLuan);
    int totalQTuLuan = Convert.ToInt32(ViewBag.soluongcauhoiTuLuan);

    double percentProcessbar = ((double)thisQ / totalQTuLuan) * 100;
    string pP = percentProcessbar.ToString("0") + "%";
}
<div class="progress-group">
    <div class="progress-group-header">
        <i class="bi-mortarboard mx-1"></i>
        <div>Phần thi trắc nghiệm</div>
        <div class="ms-auto font-weight-bold"> @thisQ/@totalQTuLuan câu hỏi trắc nghiệm</div>
    </div>
    <div class="progress-group-bars">
        <div class="progress ">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @pP"></div>
        </div>
    </div>
</div>
<div class="text-center text-muted mt-3">
    <h4 class="display-6" style="font-size:larger">
        <br />
        <i class="bi-check"></i>
        Bạn đã hoàn thành phần thi tự luận
    </h4>
</div>
