@{
    ViewData["Active"] = "pageIndex";
}
<partial name="Guest/Index/_carousel" />

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-12 mt-4">
            <div id="News"></div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="container-fluid">
                <div id="calendar"></div>
            </div>
        </div>
        <div class="col-lg-6 my-3">
            <partial name="Guest/Index/_thongbao" />
        </div>
    </div>
</div>

<script>
    $.get("/guest/home/Get6News", function (result) {
        $("#News").html(result);
    });
    $(document).ready(function () {
        $('#calendar').evoCalendar({
            eventDisplayDefault: false,
            eventListToggler: false,
            sidebarDisplayDefault: false,
            todayHighlight: true,
            sidebarToggler: true,
            canAddEvent: true,

            calendarEvents: [
                { id: 1, name: "Off", date: "January/6/2024", type: "event" },
                { id: 2, name: "Off", date: "January/12/2024", type: "event" },
                { id: 3, name: "Off", date: "January/13/2024", type: "event" },

                { id: 4, name: "Off", date: "January/20/2024", type: "event" },
                { id: 5, name: "Off", date: "January/26/2024", type: "event" },
                { id: 6, name: "Off", date: "January/27/2024", type: "event" },
            ],
            onSelectDate: function () {
                // console.log('onSelectDate!')
            },
            onAddEvent: function () {
                console.log('onAddEvent!')
            }
        });
    })
</script>