<partial name="Guest/Index/_carousel" />

<div class="container-xl">
    <div class="row g-3">
        <div class="col-12">
            <partial name="Guest/Index/_thongbao" />
        </div>
        <div class="col-12">
            <partial name="Guest/Index/_tintuc" />
        </div>
    </div>
</div>
