<partial name="Guest/Index/_carousel" />

<div class="container-fluid">
    <header class="header" style="text-align:center">
        <a class="header-brand display-6">
            Trang tin tức nội bộ
        </a>
        <ul class="header-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="headerDropdownMenuLink" role="button" data-coreui-toggle="dropdown" aria-expanded="false">
                    Xem theo
                </a>
                <div class="dropdown-menu" aria-labelledby="headerDropdownMenuLink">
                    <a class="dropdown-item" href="#">Tin tức trong tuần</a>
                    <a class="dropdown-item" href="#">Tin tức trong tháng này</a>
                    <a class="dropdown-item" href="#">Tin tức trong tháng trước</a>
                </div>
            </li>
        </ul>
    </header>

    <form class="d-flex mt-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo từ khoá" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit" style="white-space:nowrap">
            <i class="bi-search"></i>
            Tìm kiếm
        </button>
    </form>

    <div class="list-group my-2">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-1">
                    <i class="bi-file-earmark-text"></i>
                    Thông báo RBA
                </h6>
                <small class="text-muted" style="white-space:nowrap">
                    <i class="bi-calendar-event-fill"></i>
                    08/01/2024
                </small>
            </div>
            <p class="mb-1">Chi tiết các nội dung đào tạo và tiêu chuẩn của RBA</p>
            <small class="text-muted">Người đăng: Nguyễn Ngọc Sang</small>
            <small class="text-muted">|</small>
            <small class="text-muted">Ban hành tới: Tất cả phòng ban</small>
            <small class="text-muted">|</small>
            <small class="text-muted">
                Lượt xem: 1251
            </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-1">
                    <i class="bi-file-earmark-text"></i>
                    Thông báo lịch nghỉ Tết Nguyên Đán 2024
                </h6>
                <small class="text-muted" style="white-space:nowrap">
                    <i class="bi-calendar-event-fill"></i>
                    07/01/2024
                </small>
            </div>
            <p class="mb-1">Lịch nghỉ tết và kế hoạch làm việc năm mới</p>
            <small class="text-muted">Người đăng: Nguyễn Ngọc Sang</small>
            <small class="text-muted">|</small>
            <small class="text-muted">Ban hành tới: Tất cả phòng ban</small>
            <small class="text-muted">|</small>
            <small class="text-muted">
                Lượt xem: 3666
            </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-1">
                    <i class="bi-file-earmark-text"></i>
                    Thông báo thay đổi Layout
                </h6>
                <small class="text-muted" style="white-space:nowrap">
                    <i class="bi-calendar-event-fill"></i>
                    07/01/2024
                </small>
            </div>
            <p class="mb-1">Chi tiết các nội dung</p>
            <small class="text-muted">Người đăng: Nguyễn Ngọc Sang</small>
            <small class="text-muted">|</small>
            <small class="text-muted">Ban hành tới: PDE</small>
            <small class="text-muted">|</small>
            <small class="text-muted">
                Lượt xem: 12
            </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-1">
                    <i class="bi-file-earmark-text"></i>
                    Thông báo RBA
                </h6>
                <small class="text-muted" style="white-space:nowrap">
                    <i class="bi-calendar-event-fill"></i>
                    07/01/2024
                </small>
            </div>
            <p class="mb-1">Chi tiết các nội dung đào tạo và tiêu chuẩn của RBA</p>
            <small class="text-muted">Người đăng: Nguyễn Ngọc Sang</small>
            <small class="text-muted">|</small>
            <small class="text-muted">Ban hành tới: Tất cả phòng ban</small>
            <small class="text-muted">|</small>
            <small class="text-muted">
                Lượt xem: 1251
            </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1 me-1">
                    <i class="bi-file-earmark-text"></i>
                    Thông báo RBA
                </h6>
                <small class="text-muted" style="white-space:nowrap">
                    <i class="bi-calendar-event-fill"></i>
                    07/01/2024
                </small>
            </div>
            <p class="mb-1">Chi tiết các nội dung đào tạo và tiêu chuẩn của RBA</p>
            <small class="text-muted">Người đăng: Nguyễn Ngọc Sang</small>
            <small class="text-muted">|</small>
            <small class="text-muted">Ban hành tới: Tất cả phòng ban</small>
            <small class="text-muted">|</small>
            <small class="text-muted">
                Lượt xem: 1251
            </small>
        </a>     
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Trang trước</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Trang sau</a>
            </li>
        </ul>
    </nav>
</div>

