@{
    ViewData["Active"] = "pageChuDePhongThi";
    ViewData["ActiveChild"] = "pageThemChuDePhongThi";
}
<h1 class="display-6 mb-3" style="text-align:center">
    TẠO PHÒNG THI
</h1>
<form id="myForm">
    <div class="row g-2">
        <div class="col-12">
                        <div class="form-floating ">
                <input id="name" type="text" class="form-control" placeholder="" required="@true">
                <label for="floatingInput">Tên phòng thi</label>
            </div>
            <div class="form-floating mt-1">
                <input id="time" type="number" class="form-control" placeholder="" required="@true">
                <label for="floatingInput">Thời gian thi (phút)</label>
            </div>
            <button id="btnXacNhan" class="btn btn-success mt-2" style="text-align: center; width:200px">
                <i class="bi-check" style="margin-right: 5px;"></i>Xác nhận
            </button>
        </div>

    </div>
</form>

<script>
    $(document).ready(function () {
        $("#btnXacNhan").click(function (e) {
            var form = $("#myForm")[0];
            if (form.checkValidity()) {
                e.preventDefault();
                var name = $("#name").val();
                var time = $("#time").val();
                var data = {
                    name: name,
                    time: time
                };
                $.ajax({
                    url: "Create",
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Tạo mới thành công",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire("Thất bại!", data.message, "error");
                        }
                    },
                    error: function (xhr, t, error) {
                        Swal.fire("Thất bại!", "Lỗi máy chủ", "error");
                    },
                });
            } else {
                form.reportValidity();
            }
        });
    });
</script>