@{
    ViewData["Active"] = "pageChuDePhongThi";
    ViewData["ActiveChild"] = "pageThemChuDePhongThi";
}

<form id="myForm">
    <div class="row g-2">
        <div class="col-12">
            <label for="address" class="form-label">Tên chủ đề (Phòng thi)</label>
            <div class="input-group">
                <input type="text" class="form-control" id="name" placeholder="Nhập tên tại đây" required="@true">
                <button id="btnXacNhan" class="btn btn-outline-success btn-sm" style="display: flex; align-items: center">
                    <i class="fa fa-circle-check fa-fw" style="margin-right: 5px;"></i>Xác nhận
                </button>               
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("#btnXacNhan").click(function (e) {
            var form = $("#myForm")[0];
            if (form.checkValidity()) {
                e.preventDefault();
                var name = $("#name").val();
                var data = {
                    name: name
                };
                $.ajax({
                    url: "Create",
                    type: "POST",
                    data: data,
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Tạo mới thành công",
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire("Thất bại!", data.message, "error");
                        }
                    },
                    error: function (xhr, t, error) {
                        Swal.fire("Thất bại!", "Lỗi máy chủ", "error");
                    },
                });
            } else {
                form.reportValidity();
            }
        });
    });
</script>