@model ViewModels.CauHoiTrinhTuThaoTac.LoiTaiCongDoan.LoiTaiCongDoanVm
@{
    var selectListItems = Model.doiSaches.Select(item => new SelectListItem
            {
                Text = item.Text,
                Value = item.Id.ToString()  // Giả sử Id là trường chứa giá trị bạn muốn
            }).ToList();
}
<div class="card">
    <div class="card-body">
        <div class="form-group mb-2">
            <label class="form-label">Nội dung lỗi</label>
            <input id="noidungloi" class="form-control" value="@Model.Text" />
        </div>
        <div class="form-group mb-2">
            <label class="form-label">Chọn đối sách cần sửa</label>
            <select class="form-select form-select-lg " id="selectDS" name="selectDS" style="overflow: hidden;">
                <option value="" selected disabled>Nhấn để chọn</option>
                @foreach (var item in selectListItems)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        <div class="form-group mb-2" id="noidung" hide>
            <label class="form-label">Nội dung mới</label>
            <input id="textDS" class="form-control" />
        </div>
    </div>
    <div class="card-footer">
        <button id="btnXoaDoiSach" class="btn btn-outline-danger" disabled="true">
            <i class="bi-trash"></i>
            Xoá đối sách
        </button>
        <button id="btnXacNhan" class="btn btn-success" data-ltcdId="@Model.Id">
            <i class="bi-check"></i>
            Lưu lại
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#noidung").hide();
        $("#selectDS").on("change", function () {
            $("#noidung").show();
            $("#btnXoaDoiSach").prop('disabled', false);

            var idDS = $("#selectDS").val();
            var textDS = $("#selectDS  option:selected ").text();
            $("#textDS").val(textDS)
        })
        $("#btnXacNhan").click(function () {
            var noidungloi = $("#noidungloi").val();

            var newTextDS = $("#textDS").val();
            var ltcdId = $(this).attr("data-ltcdId");
            ltcdId = parseInt(ltcdId);
            var idDS = $("#selectDS").val();
            idDS = parseInt(idDS);
            $.ajax({
                url: "EditDoiSach",
                type: "POST",
                data: {
                    id: idDS,
                    text: newTextDS
                },
                success: function (result) {
                    $.ajax({
                        url: "EditLTCD",
                        type: "POST",
                        data: {
                            id: ltcdId,
                            text: noidungloi
                        },
                        success: function (result) {
                            Swal.fire({
                                icon: "success",
                                title: "Sửa nội dung đối sách thành công",
                                showConfirmButton: false,
                                timer: 1500,
                            });
                            $("#modelSuaLoiDoiSach").modal("hide");
                        },
                    });
                },
            });
        })
        $("#btnXoaDoiSach").click(function () {
            var idDS = $("#selectDS").val();
            $.ajax({
                url: "DeleteDS",
                type: "POST",
                data: {
                    id: idDS
                },
                success: function (result) {
                    Swal.fire({
                        icon: "success",
                        title: "Xoá nội dung đối sách thành công",
                        showConfirmButton: false,
                        timer: 1500,
                    });
                    $("#modelSuaLoiDoiSach").modal("hide");
                },
            });
        })
    })
</script>
@*

