<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.all.min.js"></script>

    <link href="~/fontawesome-free-6.4.2-web/css/fontawesome.css" rel="stylesheet" />
    <link href="~/fontawesome-free-6.4.2-web/css/brands.css" rel="stylesheet" />
    <link href="~/fontawesome-free-6.4.2-web/css/solid.css" rel="stylesheet" />

    <link href="~/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/datatables-buttons/css/buttons.bootstrap4.min.css">

    <script src="~/datatables/jquery.dataTables.min.js"></script>
    <script src="~/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

    <script src="~/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/datatables-buttons/js/buttons.colVis.min.js"></script>


</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <partial name="_navBar" />
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
                <partial name="_sideBar" />
            </nav>
            <main class="col-md-8 ms-sm-auto col-lg-9 px-md-4">
                <partial name="_Header" />
                @RenderBody()
                <br />
            </main>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
