<nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a id="pageTrangChu" class="nav-link" aria-current="page" 
                                            <a class="nav-link" asp-action="index" asp-controller="home">
                    <span data-feather="home"></span>
                    Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a id="pageChuDePhongThi" class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target="#quanlychude-collapse" aria-expanded="false">
                    <span data-feather="briefcase"></span>
                    Chủ đề & Phòng thi
                </a>
                <div class="collapse show" id="quanlychude-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item">
                            <a id="pageDanhSachChuDePhongThi" class="nav-link" asp-action="list" asp-controller="category">
                                <span data-feather="chevron-right"></span>
                                Danh sách chủ đề & Phòng thi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="pageThemChuDePhongThi" class="nav-link" asp-action="create" asp-controller="category">
                                <span data-feather="chevron-right"></span>
                                Thêm chủ để & Phòng thi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="pageDongMoPhongThi" class="nav-link" asp-action="changestatus" asp-controller="category">
                                <span data-feather="chevron-right"></span>
                                Đóng / Mở phòng thi
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target="#quanlycauhoi-collapse" aria-expanded="false">
                    <span data-feather="clipboard"></span>
                    Quản lý câu hỏi
                </a>
                <div class="collapse show" id="quanlycauhoi-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Danh sách câu hỏi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Thêm câu hỏi 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Nhập từ file Excel
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                   data-bs-toggle="collapse" data-bs-target="#quanlytaikhoan-collapse" aria-expanded="false">
                    <span data-feather="users"></span>
                    Quản lý tài khoản
                </a>
                <div class="collapse show" id="quanlytaikhoan-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Danh sách tài khoản
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Thêm tài khoản mới
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="chevron-right"></span>
                                Nhập từ file Excel
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Điểm số & Thống kê
                </a>
            </li>           
        </ul>       
    </div>
</nav>

@if (ViewData["Active"] != null)
{
    <script type="text/javascript">document.getElementById("@ViewData["Active"]").classList.add("active")</script>
}
@if (ViewData["ActiveChild"] != null)
{
    <script type="text/javascript">document.getElementById("@ViewData["ActiveChild"]").classList.add("active")</script>
}





