<footer class="footer">
    <div>        
        <span style="font-size:small">
            © Canon Electronics VietNam
        </span>
    </div>
    <div>
        <span>Powered by</span>
        <b>PDE</b>
    </div>
</footer>