@*
<footer class="footer bg-white" style="border:unset">
    <div>
        <span style="font-size:small">
            © Canon Electronics VietNam
        </span>
    </div>
    <div>
        <span>Powered by</span>
        <b>PDE</b>
    </div>
</footer>
*@

<style>
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* Tùy chỉnh kiểu văn bản và các thuộc tính khác nếu cần */
    .credits {
        font-size: 14px;
        color: #555;
        /* Thêm các thuộc tính khác nếu cần */
    }

</style>

<footer class="footer bg-white" style="border:unset">
    <div class="bg-white pt-5 pb-3">
        <div class="container overflow-hidden text-center">
            <a class="d-inline-flex align-items-center mb-1 text-body-secondary text-decoration-none">
                <span class="fs-5">Canon Electronics VietNam</span>
            </a>

            <ul class="list-unstyled small  text-secondary ">
                <li class="mb-2">
                    Đường 206, khu B, Khu công nghiệp Phố Nối A, Xã Lạc Hồng, Huyện Văn Lâm, Tỉnh Hưng Yên, Việt Nam
                </li>
                <li class="mb-2">
                    <button class="btn btn-light">
                        <i class="bi-telephone-fill shadow-sm"></i>
                        +84-221 3587311
                    </button>
                </li>
            </ul>
            <div class="credits text-secondary text-center mt-0 fs-7">
                <span>Powered by</span>
                <b>PDE</b>
            </div>
        </div>
    </div>
</footer>

