
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/ctas/cta-1/assets/css/cta-1.css">
<section class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url('./images/carousel/1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="fs-5 mb-3 text-white text-uppercase">Our Services & Expertise</h2>
                <h2 class="display-5 text-white mb-4">We are a design agency studio delivering custom creative & unique websites.</h2>
                <a href="#!" class="btn bsb-btn-2xl btn-light rounded mb-0 text-nowrap">Join Us</a>
            </div>
        </div>
    </div>
</section>
