<style>
    .nav-link.active {
        border-bottom: 1px solid rgb(204, 0, 0);
    }

    .custom-link {
        cursor: pointer;
    }
</style>
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="~/logo-vietnam.png" alt="" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-coreui-toggle="collapse" data-coreui-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="text-align:center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="pageIntro" class="nav-link" aria-current="page" asp-area="guest" asp-controller="home" asp-action="intro">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a id="pageIndex" class="nav-link" aria-current="page" asp-area="guest" asp-controller="home" asp-action="index">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" id="btnLuongThuong">Lương thưởng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link">Tài liệu đào tạo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" id="btnTestPage">Kiểm tra đánh giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" id="btnAdminPage" asp-area="admin" asp-controller="home" asp-action="index">
                        Quản trị
                    </a>
                </li>

                @* <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-coreui-toggle="dropdown" aria-expanded="false">
                Kiểm tra đánh giá
                </a>
                <ul class="dropdown-menu" style="text-align:center">
                <li>
                <a class="dropdown-item custom-link" id="btnTestPageUser">
                Truy cập
                </a>
                </li>
                <li>
                <hr class="dropdown-divider">
                </li>
                <li>
                <a class="dropdown-item text-danger custom-link" id="btnTestPageAdmin">
                <i class="bi-database-fill-lock"></i>
                Trang quản lý
                </a>
                </li>
                </ul>
                </li>*@
            </ul>
            <button type="button" class="btn btn-light rounded-pill" id="btnLoginNew">
                <i class="bi-person-circle"></i>
                Đăng nhập
            </button>
            <div class="btn-group" id="grgroupBtnLogoutNew">
                <button type="button" class="btn dropdown-toggle rounded-pill bg-light shadow-sm" data-coreui-toggle="dropdown" aria-expanded="false" id="groupBtnLogoutNew">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="text-align:center">
                    <li>
                        <button class="dropdown-item" type="button" id="btnDMK">
                            Đổi mật khẩu
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <button class="dropdown-item" type="button" id="btnXemTTTK">
                            Thông tin tài khoản
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <button class="dropdown-item text-danger" type="button" id="btnLogoutNew">
                            <i class="bi-power"></i>
                            Đăng xuất
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="modal fade" id="staticBackdrop" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="contentModalTTTK">
            </div>
        </div>
    </div>
</div>



<script>
    const Toast = Swal.mixin({
        toast: true,
        position: "top-right",
        showConfirmButton: false,
        timer: 1000,
        timerProgressBar: true,
    });
    function checkRole() {
        $.ajax({
            url: '/Guest/Home/CheckRole',
            method: 'GET',
            success: function (data) {
                if (data.name != null && data.role != null) {
                    $("#btnLoginNew").hide();
                    $("#grgroupBtnLogoutNew").show();
                    if (data.role == "admin") {
                        localStorage.setItem("isAdmin", true);
                        $("#groupBtnLogoutNew").html('<div class="avatar bg-warning">ADM<span class="avatar-status bg-success"></span></div> ' + (data.name || ''));
                        //$("#groupBtnLogoutNew").removeClass('text-white bg-primary');
                        //$("#groupBtnLogoutNew").addClass('text-white bg-danger');
                        $('#btnAdminPage').show();
                    } else if (data.role = "user") {
                        localStorage.setItem("isAdmin", false);
                        $("#groupBtnLogoutNew").html('<div class="avatar text-bg-dark">USR<span class="avatar-status bg-success"></span></div> ' + (data.name || ''));
                        //$("#groupBtnLogoutNew").removeClass('text-white bg-danger');
                        //$("#groupBtnLogoutNew").addClass('text-white bg-primary');
                        $('#btnAdminPage').hide();
                    }
                }
                if (data.name == null && data.role == null) {
                    $("#grgroupBtnLogoutNew").hide();
                    $("#btnLoginNew").show();
                    localStorage.removeItem("isAdmin");
                    localStorage.removeItem("isLoggedIn");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    $(document).ready(function () {
        $('#btnAdminPage').hide();
        checkRole();
        $('#btnXemTTTK').click(function () {
            $.ajax({
                url: '/User/QuanLyTaiKhoan/GetTTTK',
                type: 'GET',
                success: function (data) {
                    $('#contentModalTTTK').html(data);
                    $('#staticBackdrop').modal("show")
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                    console.error(error);
                }
            });
        })

        $("#btnDMK").click(async function () {
            async function Step2() {
                const { value: newMK } = await Swal.fire({
                    currentProgressStep: 1,
                    input: "password",
                    inputLabel: "Nhập mật khẩu mới",
                    inputPlaceholder: "Mật khẩu mới",
                    confirmButtonText: 'Xác nhận',
                });
                if (newMK) {
                    $.ajax({
                        url: '/User/Quanlytaikhoan/UserResetPassword',
                        type: 'POST',
                        data: { newPassword: newMK },
                        success: function (result) {
                            if (result.success) {
                                Swal.fire({
                                    icon: "success",
                                    width: 300,
                                    text: "Đổi mật khẩu thành công",
                                    showConfirmButton: false,
                                    timer: 1000,
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    width: 300,
                                    text: "Lỗi hệ thống",
                                    showConfirmButton: false,
                                    timer: 1000,
                                });
                            }
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }
            }
            const steps = ['1', '2']
            const Queue = Swal.mixin({
                progressSteps: steps,
                confirmButtonText: 'Tiếp tục',
                // optional classes to avoid backdrop blinking between steps
                showClass: { backdrop: 'swal2-noanimation' },
                hideClass: { backdrop: 'swal2-noanimation' },
            })
                ; (async () => {
                    const { value: currentMK } = await Queue.fire({
                        currentProgressStep: 0,
                        input: "password",
                        inputLabel: "Nhập mật khẩu hiện tại",
                        inputPlaceholder: "Mật khẩu hiện tại của bạn"
                    });
                    if (currentMK) {
                        $.ajax({
                            url: '/User/Quanlytaikhoan/CheckPassword',
                            type: 'POST',
                            data: { password: currentMK },
                            success: function (result) {
                                if (result.success) {
                                    Step2()
                                }
                                else {
                                    Swal.fire({
                                        icon: "error",
                                        width: 300,
                                        text: "Sai mật khẩu",
                                        showConfirmButton: false,
                                        timer: 1000,
                                    })
                                }
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                    }
                })()
        })
    })
    $("#btnLoginNew").click(function () {
        var username, password;
        Swal.fire({
            title: 'Đăng nhập tài khoản',
            html:
                '<form>' +
                '<div class="col-12" style="text-align: center">' +
                '<input style="width: 70%" type="text" id="username" class="swal2-input" placeholder="Tên đăng nhập">' +
                '<input style="width: 70%;margin-top:5px" type="password" id="password" class="swal2-input" placeholder="Mật khẩu">' +
                '</div>' +
                '</form>',
            showCancelButton: true,
            confirmButtonText: 'Đăng nhập',
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            cancelButtonText: "Huỷ bỏ",
            showLoaderOnConfirm: true,
            preConfirm: () => {
                username = Swal.getPopup().querySelector('#username').value;
                password = Swal.getPopup().querySelector('#password').value;
                if (!username || !password) {
                    Swal.showValidationMessage("Bạn cần nhập đủ tên đăng nhập và mật khẩu!");
                } else {
                    return new Promise(function (resolve, reject) {
                        setTimeout(function () {
                            resolve();
                        }, 1300);
                    });
                }
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                var data = {
                    UserName: username,
                    Password: password
                };
                $.ajax({
                    type: "POST",
                    url: "/Guest/Home/Login",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (result) {
                        if (result.success) {
                            checkRole();
                            Toast.fire({
                                icon: "success",
                                title: "Đăng nhập thành công"
                            });
                            localStorage.setItem("isLoggedIn", true);
                        } else {
                            Swal.fire({
                                icon: "error",
                                width: 300,
                                text: result.message,
                                showConfirmButton: false,
                                timer: 2000,
                            });
                        }
                    },
                    error: function (error) {
                        console.log("loi ket noi")
                        Swal.fire({
                            icon: "error",
                            width: 300,
                            text: "Không kết nối được với máy chủ",
                            showConfirmButton: false,
                            timer: 2000,
                        });
                    }
                });
            }
        });
    });

    $("#btnLogoutNew").click(function () {
        Swal.fire({
            title: "Đăng xuất tài khoản?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Xác nhận",
            cancelButtonText: "Huỷ bỏ"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Guest/Home/Logout", // Đường dẫn đến action
                    method: "POST",
                    success: function (response) {
                        checkRole();
                        Toast.fire({
                            icon: "success",
                            title: "Đăng xuất thành công"
                        });
                        localStorage.removeItem("isLoggedIn");
                    },
                    error: function (error) {
                        // Xử lý lỗi nếu có
                        console.error("Error:", error);
                    }
                });
            }
        });
    });

    $("#btnTestPage").click(function () {
        const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
        if (isLoggedIn) {
            const isAdmin = localStorage.getItem("isAdmin") === "true";
            if (!isAdmin) {
                var url = "User/Home/SelectRoom";
                window.location.href = url;
            } else {
                Toast.fire({
                    icon: "error",
                    title: "Chỉ tài khoản người dùng được phép truy cập chức năng!"
                });
            }
        } else {
            Toast.fire({
                icon: "error",
                title: "Cần đăng nhập để truy cập"
            });
        }
    });

        //$("#btnTestPageUser").click(function () {
        //    const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
        //    if (isLoggedIn) {
        //        const isAdmin = localStorage.getItem("isAdmin") === "true";
        //        if (!isAdmin) {
        //            var url = "User/Home/SelectRoom";
        //            window.location.href = url;
        //        } else {

        //            Toast.fire({
        //                icon: "error",
        //                title: "Không có quyền truy cập"
        //            });
        //        }
        //    } else {
        //        Toast.fire({
        //            icon: "error",
        //            title: "Cần đăng nhập để truy cập"
        //        });
        //    }
        //});

        //$("#btnTestPageAdmin").click(function () {
        //    const isLoggedIn = localStorage.getItem("isLoggedIn") === "true";
        //    if (isLoggedIn) {
        //        const isAdmin = localStorage.getItem("isAdmin") === "true";
        //        if (isAdmin) {
        //            var url = "Admin/thongke/Index";
        //            window.location.href = url;
        //        } else {
        //            Toast.fire({
        //                icon: "error",
        //                title: "Không có quyền truy cập"
        //            });
        //        }
        //    } else {
        //        Toast.fire({
        //            icon: "error",
        //            title: "Cần đăng nhập để truy cập"
        //        });
        //    }
        //});
</script>

