


<div class="hero">
    <div class="container">
        <div class="hero-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-6 mb-3">Canon Electronics VietNam</h1>
                </div>
                <div class="col-md-6">
                    <p> Đường 206, khu B, Khu công nghiệp Phố Nối A, Xã Lạc Hồng, Huyện Văn Lâm, Tỉnh Hưng Yên, Việt Nam    </p>
                </div>
                <div class="col-md-6" style="text-align:end">
                    <button class="btn btn-light me-3">
                        <i class="bi-telephone-fill"></i>
                        Liên hệ ngay
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

