@model List<ViewModels.ExamResult.Response.ExamResultVm>
@{
    var selectListPhongThi = ViewBag.SelectListPhongThi as List<SelectListItem>;
}
@section SideBar
    {
    <partial name="PageUser/_sideBar" />
    }
    <h1 class="display-6 mb-2">
        <i class="bi-chevron-down"></i>
        Thống kê chung
    </h1>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="card mb-2">
                <div class="card-body p-2 d-flex align-items-center">
                    <div class="bg-info text-white p-3 me-3">
                        <i class="bi-folder2-open"></i>
                    </div>
                    <div>
                        <div class="fs-6 fw-semibold text-medium-emphasis text-primary">@Model.Count() bài thi</div>
                        <div class="text-medium-emphasis text-uppercase fw-semibold small">Tổng số</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-2 d-flex align-items-center">
                    <div class="bg-success text-white p-3 me-3">
                        <i class="bi-hand-thumbs-up"></i>
                    </div>
                    <div>
                        <div class="fs-6 fw-semibold text-success text-medium-emphasis">@Model.Where(x=>x.Score >= 80).Count() bài thi</div>
                        <div class="text-medium-emphasis text-uppercase fw-semibold small">Trên 80 điểm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-2 d-flex align-items-center">
                    <div class="bg-warning text-white p-3 me-3">
                        <i class="bi bi-align-middle"></i>
                    </div>
                    <div>
                        <div class="fs-6 fw-semibold text-medium-emphasis">@Model.Where(x=>(x.Score >= 60) &&(x.Score < 80)).Count() bài thi</div>
                        <div class="text-medium-emphasis text-uppercase fw-semibold small">60 đến 80 điểm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-2 d-flex align-items-center">
                    <div class="bg-danger text-white p-3 me-3">
                        <i class="bi-hand-thumbs-down"></i>
                    </div>
                    <div>
                        <div class="fs-6 fw-semibold text-danger text-medium-emphasis">@Model.Where(x=>x.Score <60).Count() bài thi</div>
                        <div class="text-medium-emphasis text-uppercase fw-semibold small">Dưới 60 điểm</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h1 class="display-6 mb-2">
        <i class="bi-chevron-down"></i>
        Xem chi tiết bài thi
    </h1>

    <div class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-9">
            <label for="formGroupExampleInput" class="form-label">Chọn bài thi cần xem </label>
            <select id="PhongThi" asp-items="selectListPhongThi" class="form-select">
                <option value="" disabled selected>Nhấn để chọn</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label for="formGroupExampleInput" class="form-label">Chọn ngày thi</label>
            <input type="text" id="datepicker" class="form-select" autocomplete="off" placeholder="Nhấn để chọn">
        </div>
        <div id="ketquaTimkiem">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var picker = new Pikaday({
                field: document.getElementById('datepicker'),
                format: 'YYYY-MM-DD',
                defaultDate: null,  // Đặt mặc định là ngày hiện tại
                onSelect: function () {
                    loadDataTheoChuDe();
                }
            });
            $('#PhongThi').on("change", function () {
                loadDataTheoChuDe();
            });
            function loadDataTheoChuDe() {
                var selectphongThiValue = $('#PhongThi').val();
                var selectDate = $('#datepicker').val();
                var intId = parseInt(selectphongThiValue);
                $.ajax({
                    url: 'logexam/GetLogAfterExam',
                    type: 'POST',
                    data: { CategoryId: intId, Date: selectDate },
                    success: function (data) {
                        $('#ketquaTimkiem').html(data);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        });
    </script>
