@model ViewModels.Question.Request.QuestionCreateRequest
@{
    ViewData["Active"] = "pageQuanLyTaiKhoan";
    ViewData["ActiveChild"] = "pageThemtaikhoanmoi";
}
<div class="d-flex">
    <div class="form-group col-6 mb-3 me-3">
        <label class="form-label">Chọn loại tài khoản</label>
        <select class="form-control" id="roleId" name="roleId" style="overflow: hidden;">
            <option value="user">Tài khoản người dùng</option>
            <option value="admin">Tài khoản quản trị</option>
        </select>
    </div>

    <div class="form-group col-6  mb-3">
        <label class="form-label">Chọn bộ phận</label>
        <select name="deptId" id="deptId" class="form-control">
            @foreach (var item in ViewBag.listDept)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-themthucong" type="button" role="tab" aria-controls="pills-themthucong" aria-selected="true">
            <i class="bi-file-plus"></i>
            Thêm thủ công
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-themtuexcel" type="button" role="tab" aria-controls="pills-themtuexcel" aria-selected="false">
            <i class="bi-file-earmark-spreadsheet"></i>
            Nhập từ file Excel
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-themthucong" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="col-md-12">
                <form id="myForm">
                    <div class="form-group mb-3">
                        <label class="form-label"> Nhập thông tin tài khoản</label>
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="hoten" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Họ tên</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="usn" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Tên đăng nhập (Mã nhân viên)</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="password" class="form-control" id="pwd" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Mật khẩu</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="password" class="form-control" id="repwd" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Xác nhận mật khẩu</label>
                        </div>
                    </div>
                    <div class="col-12" style="text-align:center">
                        <button id="btnXacNhanThemTaiKhoanThuCong" class="btn btn-outline-success" style="width:200px">
                            <i class="bi-check-circle"> </i>Xác nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-themtuexcel" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form id="excelUploadForm">
            <div class="mb-3">
                <label class="form-label">Chọn file Excel để upload</label>
                <input type="file" name="file" id="file" class="form-control btn btn-outline-secondary btn-block" accept=".xlsx" required />
            </div>
            <div class="col-12" style="text-align:center">
                <button type="submit" id="btnXacNhanThemTuExcel" class="btn btn-outline-success" style="width:200px">
                    <i class="bi-check-circle"> </i>Xác nhận
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnXacNhanThemTaiKhoanThuCong").click(function (e) {
            e.preventDefault();
            var deptId = $("#deptId").val();
            var name = $("#hoten").val();
            var username = $("#usn").val();
            var password = $("#pwd").val();
            var repassword = $("#repwd").val();

            var data = {
                UserName: username,
                Password: password,
                ConfirmPassword: repassword,
                Name: name,
                DeptId: deptId
            }

            $.ajax({
                url: "Create",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.success) {
                        Swal.fire(
                            "Thành công!",
                            "Bạn vừa thêm tài khoản mới thành công",
                            "success"
                        ).then(function () {
                            window.location.reload();
                        });
                    } else {
                        Swal.fire("Không thành công!", result.message, "error");
                    }
                },
                error: function () {
                    Swal.fire("Lỗi máy chủ!", "Không thành công", "error");
                },
            });
        })
    })

</script>