@{
    ViewData["Active"] = "pageQuanLyTaiKhoan";
    ViewData["ActiveChild"] = "pageThemtaikhoanmoi";
}
<div class="row ">
    <div class="form-group col-3 mb-2 ">
        <label class="form-label">
            <i class="bi-1-circle-fill "></i>
            Chọn loại tài khoản
        </label>
        <select class="form-select form-select-lg" id="roleName" name="roleId" style="overflow: hidden;">
            @foreach (var item in ViewBag.listRoles)
            {
                <option value="@item.Text">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group col-3 mb-2">
        <label class="form-label">
            <i class="bi-2-circle-fill"></i>
            Chọn bộ phận
        </label>
        <select id="deptSelectList" class="form-select form-select-lg">
            <option value="" selected disabled>Nhấn để chọn</option>
        </select>
    </div>
    <div class="form-group col-3 mb-2">
        <label class="form-label">
            <i class="bi-3-circle-fill"></i>
            Chọn Model
        </label>
        <select id="modelSelectList" class="form-select form-select-lg"></select>
    </div>
    <div class="form-group col-3 mb-2">
        <label class="form-label">
            <i class="bi-4-circle-fill"></i>
            Chọn Cell
        </label>
        <select id="cellSelectList" class="form-select form-select-lg">
        </select>
    </div>
</div>

<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-coreui-toggle="pill" data-coreui-target="#pills-themthucong" type="button" role="tab" aria-controls="pills-themthucong" aria-selected="true">
            <i class="bi-file-plus"></i>
            Thêm thủ công
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-coreui-toggle="pill" data-coreui-target="#pills-themtuexcel" type="button" role="tab" aria-controls="pills-themtuexcel" aria-selected="false">
            <i class="bi-file-earmark-spreadsheet"></i>
            Nhập từ file Excel
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-themthucong" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="col-md-12">
                <form id="myForm">
                    <div class="form-group mb-2">
                        <label class="form-label">
                            <i class="bi-5-circle-fill"></i>
                            Nhập thông tin tài khoản
                        </label>
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="hoten" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Họ tên</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="usn" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Tên đăng nhập (Mã nhân viên)</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="password" class="form-control" id="pwd" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Mật khẩu</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="password" class="form-control" id="repwd" placeholder="" required autocomplete="off">
                            <label for="floatingInput">Xác nhận mật khẩu</label>
                        </div>
                    </div>
                    <button id="btnXacNhanThemTaiKhoanThuCong" class="btn btn-success" style="width:200px">
                        <i class="bi-check"> </i>Xác nhận
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-themtuexcel" role="tabpanel" aria-labelledby="pills-profile-tab">
        <form id="excelUploadFormTaiKhoan">
            <div class="mb-2">
                <label class="form-label">
                    <i class="bi-5-circle-fill"></i>
                    Chọn file Excel để upload
                </label>
                <input type="file" name="file" id="file" class="form-control btn btn-outline-secondary btn-block" accept=".xlsx" required />
            </div>
            <button type="submit" id="btnXacNhanThemTaiKhoanTuExcel" class="btn btn-success" style="width:200px">
                <i class="bi-check"> </i>Xác nhận
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: 'GetSelectListDept',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var selectList = $('#deptSelectList');
                $.each(data, function (index, item) {
                    selectList.append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            },
            error: function () {
                console.error('Failed to retrieve department options.');
            }
        });

        $('#deptSelectList').on("change", function () {
            var deptId = $(this).val();
            deptId = parseInt(deptId);
            $.ajax({
                url: 'GetSelectListModel',
                type: 'POST',
                data: { deptId: deptId },
                dataType: 'json',
                success: function (data) {
                    var selectList = $('#modelSelectList');
                    selectList.empty()
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function () {
                    console.error('Failed to retrieve department options.');
                }
            });
        })

        $('#modelSelectList').on("change", function () {
            var modelId = $(this).val();
            modelId = parseInt(modelId);
            $.ajax({
                url: 'GetSelectListCelll',
                type: 'POST',
                data: { modelId: modelId },
                dataType: 'json',
                success: function (data) {
                    var selectList = $('#cellSelectList');
                    selectList.empty()
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function () {
                    console.error('Failed to retrieve department options.');
                }
            });
        })

        $("#btnXacNhanThemTaiKhoanThuCong").click(function (e) {
            var form = $("#myForm")[0];
            if (form.checkValidity()) {
                e.preventDefault();
                var roleName = $("#roleName").val();
                var modelId = $("#modelSelectList").val();
                var cellId = $("#cellSelectList").val();
                var name = $("#hoten").val();
                var username = $("#usn").val();
                var password = $("#pwd").val();
                var repassword = $("#repwd").val();
                if (modelId == null) {
                    Swal.fire(
                        "Chưa chọn thông tin Model",
                        "Hãy chọn đầy đủ thông tin",
                        "error"
                    );
                } else if (cellId == null) {
                    Swal.fire(
                        "Chưa chọn thông tin Cell",
                        "Hãy chọn đầy đủ thông tin",
                        "error"
                    );
                } else if (password != repassword) {
                    Swal.fire(
                        "Mật khẩu xác nhận không trùng nhau",
                        "Hãy nhập lại mât khẩu",
                        "error"
                    );
                    $("#pwd").val("");
                    $("#repwd").val("");
                    $("#pwd").focus();
                } else {
                    var data = {
                        Role: roleName,
                        UserName: username,
                        Password: password,
                        ConfirmPassword: repassword,
                        Name: name,
                        CellId: cellId
                    }
                    $.ajax({
                        url: "Create",
                        type: "POST",
                        data: data,
                        success: function (result) {
                            if (result.success) {
                                Swal.fire({
                                    icon: "success",
                                    title: "Bạn vừa thêm tài khoản mới thành công",
                                    showConfirmButton: false,
                                    timer: 1500,
                                })                                
                            } else {
                                Swal.fire("Không thành công!", result.message, "error");
                            }
                        },
                        error: function () {
                            Swal.fire("Lỗi máy chủ!", "Không thành công", "error");
                        },
                    });
                }






            } else {
                form.reportValidity();
            }
        })
    })

</script>