@model ViewModels.CauHoiTuLuan.Request.CauHoiTuLuanCreateRequest
@{
    ViewData["Active"] = "pageQuanLyCauHoi";
    ViewData["ActiveChild"] = "pageThemcauhoituluan";
}
<div class="form-group mb-2">
    <label class="form-label">Chọn chủ đề & Phòng thi</label>
    <select class="form-select form-select-lg " id="categoryId" name="categoryId" style="overflow: hidden;">
        @foreach (var item in ViewBag.listcat)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
</div>
<ul class="nav nav-tabs mb-2" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-coreui-toggle="pill" data-coreui-target="#pills-themthucong" type="button" role="tab" aria-controls="pills-themthucong" aria-selected="true">
            <i class="bi-1-circle-fill"></i>
            Thêm câu hỏi tự luận
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-coreui-toggle="pill" data-coreui-target="#pills-themtuexcel" type="button" role="tab" aria-controls="pills-themtuexcel" aria-selected="false">
            <i class="bi-2-circle-fill"></i>
            Nhập trình tự thao tác từ file Excel
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-themthucong" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
            <div class="col-md-12">
                <form id="myForm">
                    <div class="form-group mb-2">
                        <label class="form-label"> Nhập tiêu đề của câu hỏi</label>
                        <textarea rows="3" id="Text" class="form-control" required></textarea>
                    </div>
                    <button id="btnXacNhanThemThuCong" class="btn btn-success" style="width:200px">
                        <i class="bi-check"> </i>Xác nhận
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-themtuexcel" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="form-group mb-2">
            <label class="form-label">Chọn câu hỏi tự luận</label>
            <select class="form-select form-select-lg " id="cauhoitlId" name="cauhoitlId" style="overflow: hidden;">
            </select>
        </div>
        <form id="excelUploadFormTL">
            <div class="mb-2">
                <label class="form-label">Chọn file Excel để upload danh sách trình tự thao tác</label>
                <input type="file" name="file" id="file" class="form-control btn btn-outline-secondary btn-block" accept=".xlsx" required />
            </div>
            <button type="submit" id="btnXacNhanThemTLTuExcel" class="btn btn-success" style="width:200px">
                <i class="bi-check"> </i>Xác nhận
            </button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#categoryId").on("change", function () {
            var categoryId = $(this).val();
            var catid = parseInt(categoryId);
            $.ajax({
                url: "GetListQuestionTuLuanToSelect",
                type: "POST",
                data: {
                    id: catid
                },
                success: function (data) {
                    var selectList = $('#cauhoitlId');
                    selectList.empty()
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function () {
                    Swal.fire("Lỗi máy chủ!", "Không thành công", "error");
                },
            })
        })

        $("#pills-profile-tab").click(function () {
            var categoryId = $("select[name='categoryId']").val();
            var catid = parseInt(categoryId);
            $.ajax({
                url: "GetListQuestionTuLuanToSelect",
                type: "POST",
                data: {
                    id: catid
                },
                success: function (data) {
                    var selectList = $('#cauhoitlId');
                    selectList.empty()
                    $.each(data, function (index, item) {
                        selectList.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                },
                error: function () {
                    Swal.fire("Lỗi máy chủ!", "Không thành công", "error");
                },
            })
        })

        $('#excelUploadFormTL').submit(function (e) {
            e.preventDefault();
            var cauhoituluanId = $("select[name='cauhoitlId']").val();
            cauhoituluanId = parseInt(cauhoituluanId);
            let formData = new FormData();
            formData.append("cauhoituluanId", cauhoituluanId);
            formData.append("file", file.files[0]);
            $.ajax({
                url: 'ImportExcelTTTT',
                type: 'POST',
                data: formData,
                processData: false, // Không xử lý dữ liệu gửi đi
                contentType: false, // Không đặt kiểu dữ liệu
                success: function (result) {
                    if (result.success) {
                        if (result.data.sodongupdate == 0) {
                            Swal.fire({
                                title: 'Nhập dữ liệu không thành công!',
                                html: `<div class="col-12">
                                        <span class="badge bg-success animate__animated animate__fadeIn"> Thêm mới : ${result.data.sodongupdate} </span>
                                        <span class="badge bg-danger animate__animated animate__fadeIn"> Bị trùng : ${result.data.sodongtrung}</span>
                                        </div>`,
                                icon: 'error',
                                showConfirmButton: false
                            })
                        } else {
                            Swal.fire({
                                title: 'Nhập dữ liệu thành công!',
                                html: `<div class="col-12">
                                        <span class="badge bg-success animate__animated animate__fadeIn"> Thêm mới : ${result.data.sodongupdate} </span>
                                        <span class="badge bg-danger animate__animated animate__fadeIn"> Bị trùng : ${result.data.sodongtrung}</span>
                                        </div>`,
                                icon: 'success',
                                showConfirmButton: false
                            })
                        }
                    }
                    else {
                        Swal.fire(
                            "Lỗi máy chủ",
                            "Thao tác đã được huỷ bỏ!",
                            "error"
                        );
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire(
                        "Lỗi máy chủ",
                        "Thao tác đã được huỷ bỏ!",
                        "error"
                    );
                }
            });
        });


        $("#btnXacNhanThemThuCong").click(function (e) {
            var form = $("#myForm")[0];
            if (form.checkValidity()) {
                e.preventDefault();
                var text = $("#Text").val();
                var categoryId = $("select[name='categoryId']").val();
                var catid = parseInt(categoryId);
                var data = {
                    CategoryId: catid,
                    Text: text,
                };
                console.log(data)
                $.ajax({
                    url: "CreateTuLuan",
                    type: "POST",
                    data: data,
                    success: function (data) {
                        if (data.success) {
                            Swal.fire(
                                "Thành công!",
                                "Bạn vừa thêm câu hỏi mới thành công",
                                "success"
                            ).then(function () {
                                window.location.reload();
                            });
                        } else {
                            Swal.fire("Không thành công!", data.message, "error");
                        }
                    },
                    error: function () {
                        Swal.fire("Lỗi máy chủ!", "Không thành công", "error");
                    },
                });
            } else {
                form.reportValidity();
            }
        });


    })
</script>
