@{
    ViewData["Active"] = "pageQuanLyCauHoi";
    ViewData["ActiveChild"] = "pageDanhsachcauhoi";
}


<div class="form-group mb-3">
    <label class="form-label">Chọn chủ đề & Phòng thi</label>
    <select class="form-control" id="categoryId" name="categoryId" style="text-align:center">
        @foreach (var item in ViewBag.listcat)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
</div>
<div id="listQuestion"></div>


<script>
    $(document).ready(function(){
        var firstselect = $("select[name='categoryId']").val();
        $.ajax({
            url: "GetAllByCategoryId",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#listQuestion").html(result);
            },
        });

        $('#categoryId').on('change',function(){
            var id = $(this).val();
            $.ajax({
                url: "GetAllByCategoryId",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#listQuestion").html(result);
                    $('#tree').bstreeview({ data: result });
                },
            });
        })
       
    })
</script>
