@{
    ViewData["Active"] = "pageQuanLyCauHoi";
    ViewData["ActiveChild"] = "pageDanhsachcauhoi";
}
<style>
    .btn-group .btn {
        margin-right: 2px; /* Điều chỉnh giá trị để thay đổi kích thước của khoảng trống */
    }

    .alert {
        display: inline-block;
        width: fit-content;
        max-width: fit-content;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <div>
                <i class="bi-exclamation-triangle me-1"> </i>
                Chú ý phải gán điểm số cho toàn bộ câu hỏi và gán đủ 10 điểm
            </div>
        </div>
    </div>
    <div class="form-group mb-2">
        <label class="form-label">Chọn chủ đề & Phòng thi</label>
        <select class="form-select form-select-lg" id="categoryId" name="categoryId" style="overflow: hidden;">
            @foreach (var item in ViewBag.listcat)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <div class="col-sm-6 col-md-3 mb-2">
        <div class="card">
            <div class="card-body">
                <div class="text-medium-emphasis text-end">
                    <i class="bi-folder2-open"></i>
                </div>
                <div class="fs-6 fw-semibold">
                    <span id="countTracNghiem"></span> câu hỏi
                </div><small class="text-medium-emphasis text-uppercase fw-semibold">trắc nghiệm</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 mb-2">
        <div class="card">
            <div class="card-body">
                <div class="text-medium-emphasis text-end">
                    <i class="bi-folder2-open"></i>
                </div>
                <div class="fs-6 fw-semibold">
                    <span id="countTuLuan"></span> câu hỏi
                </div><small class="text-medium-emphasis text-uppercase fw-semibold">tự luận</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 mb-2">
        <div id="theThongBao" class="card">
            <div class="card-body">
                <div class="text-medium-emphasis text-end">
                    <div id="logoDiemdagan">
                        <i></i>
                    </div>
                </div>
                <div class="fs-6 fw-semibold">
                    <span id="countDiemso"></span>/100 điểm
                </div><small class="text-medium-emphasis text-uppercase fw-semibold">đã gán</small>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 mb-2">
        <div id="theThongBaoChuaGan" class="card">
            <div class="card-body">
                <div class="text-medium-emphasis text-end">
                    <div id="logoChuagandiem">
                        <i ></i>
                    </div>
                </div>
                <div class="fs-6 fw-semibold">
                    <span id="countChuaGan">0</span> câu hỏi
                </div><small class="text-medium-emphasis text-uppercase fw-semibold">chưa gán điểm</small>
            </div>
        </div>
    </div>
</div>


<ul class="nav nav-tabs mb-2" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-tracnghiem-tab" data-coreui-toggle="pill" data-coreui-target="#pills-tracnghiem" type="button" role="tab" aria-controls="pills-tracnghiem" aria-selected="true">
            <i class="bi-folder2-open"></i>
            Phần câu hỏi trắc nghiệm
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-tuluan-tab" data-coreui-toggle="pill" data-coreui-target="#pills-tuluan" type="button" role="tab" aria-controls="pills-tuluan" aria-selected="false">
            <i class="bi-folder2-open"></i>
            Phần câu hỏi tự luận
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-tracnghiem" role="tabpanel" aria-labelledby="pills-tracnghiem-tab">
        <div id="listQuestion"></div>
    </div>
    <div class="tab-pane fade" id="pills-tuluan" role="tabpanel" aria-labelledby="pills-tuluan-tab">
        <div id="listQuestionTuLuan"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var firstselect = $("select[name='categoryId']").val();
        firstselect = parseInt(firstselect);

        $.ajax({
            url: "GetAllByCategoryId",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#listQuestion").html(result);
            },
        });
        $.ajax({
            url: "GetAllTuLuanByCategoryId",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#listQuestionTuLuan").html(result);
            },
        });
        $.ajax({
            url: "CountTracNghiem",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#countTracNghiem").html(result.data);
            },
        });
        $.ajax({
            url: "CountTuLuan",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#countTuLuan").html(result.data);
            },
        });
        $.ajax({
            url: "GetTotalScore",
            type: "POST",
            data: {
                categoryId: firstselect,
            },
            success: function (result) {
                $("#countDiemso").html(result.result);
                if (result.result != 10) {
                    $("#logoDiemdagan i").html('<i class="bi-x-circle-fill" style="color:red"></i>');
                }else{
                    $("#logoDiemdagan i").html('<i class="bi-check-circle-fill" style="color:green"></i>');
                }
            },
        });
        $.ajax({
            url: "GetCauHoiNullScore",
            type: "POST",
            data: {
                id: firstselect,
            },
            success: function (result) {
                $("#countChuaGan").html(result.sl);
                if (result.sl != 0) {
                    $("#logoChuagandiem i").html('<i class="bi-x-circle-fill" style="color:red"></i>');
                } else {
                    $("#logoChuagandiem i").html('<i class="bi-check-circle-fill" style="color:green"></i>');
                }
            },
        });

        //CHANGING SELECT LIST

        $('#categoryId').on('change', function () {
            var id = $(this).val();
            id = parseInt(id);
            $.ajax({
                url: "GetAllByCategoryId",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#listQuestion").html(result);
                },
            });
            $.ajax({
                url: "GetAllTuLuanByCategoryId",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#listQuestionTuLuan").html(result);
                },
            });
            $.ajax({
                url: "CountTracNghiem",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#countTracNghiem").html(result.data);
                },
            });
            $.ajax({
                url: "CountTuLuan",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#countTuLuan").html(result.data);
                },
            });
            $.ajax({
                url: "GetTotalScore",
                type: "POST",
                data: {
                    categoryId: id,
                },
                success: function (result) {
                    $("#countDiemso").html(result.result);
                    if (result.result != 10) {
                        $("#logoDiemdagan i").html('<i class="bi-x-circle-fill" style="color:red"></i>');
                    } else {
                        $("#logoDiemdagan i").html('<i class="bi-check-circle-fill" style="color:green"></i>');
                    }
                },
            });
            $.ajax({
                url: "GetCauHoiNullScore",
                type: "POST",
                data: {
                    id: id,
                },
                success: function (result) {
                    $("#countChuaGan").html(result.sl);
                    if (result.sl != 0) {
                        $("#logoChuagandiem i").html('<i class="bi-x-circle-fill" style="color:red"></i>');
                    } else {
                        $("#logoChuagandiem i").html('<i class="bi-check-circle-fill" style="color:green"></i>');
                    }
                },
            });
        })
    })
</script>
