<header class="header header-sticky mb-3">
    <div class="container-fluid">
        <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <i class="bi-list"></i>
        </button>    
        
        <ul class="header-nav ms-3">
            <li class="nav-item">
                <a class="btn btn-outline-dark" asp-area="Guest" asp-controller="Home" asp-action="Index">
                    <i class="bi-house-fill"></i>
                    Về trang chủ
                </a>

                @*<a id="btnLogout" class="btn btn-outline-danger ">
                    <i class="bi-box-arrow-left"></i>
                    Đăng xuất
                </a>*@
            </li>
        </ul>
    </div>
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item active"><span>@ViewBag.thisPage</span></li>
                @if (ViewBag.step1 != null)
                {
                    <li class="breadcrumb-item active"><span>@ViewBag.step1</span></li>
                }
            </ol>
        </nav>
    </div>
</header>

<script>
    $(document).ready(function () {
        $("#btnLogout").click(function () {
            Swal.fire({
                title: "Quay lại trang chủ?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Xác nhận",
                cancelButtonText: "Huỷ bỏ"
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "/Guest/Home/Index";
                    window.location.href = url;

                    //$.ajax({
                    //    url: "/Login/Logout", // Đường dẫn đến action
                    //    method: "POST",
                    //    success: function (response) {
                    //        var url = "/Login";
                    //        window.location.href = url;
                    //    },
                    //    error: function (error) {
                    //        // Xử lý lỗi nếu có
                    //        console.error("Error:", error);
                    //    }
                    //});
                }
            });
        })
    })
</script>
