<style>

</style>
<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
        CEV eExam
        <span class="badge badge-sm bg-light text-dark m-2 ">
            <i class="bi-star-fill"></i>
            Trang quản trị</span>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-title">Thống kê</li>
        <li class="nav-item">
            <a id="pageDiemsoThongke" class="nav-link" asp-action="index" asp-controller="thongke" asp-area="admin">
                <i class="bi-clipboard-data mx-3"></i>
                Điểm số & Thống kê
            </a>
        </li>
        <li class="nav-title">Quản lý</li>
        <li class="nav-group" aria-expanded="false">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="bi-folder2-open mx-3"></i>
                Phòng thi
            </a>
            <ul class="nav-group-items" style="height: auto;">
                <li class="nav-item">
                    <a id="pageDongMoPhongThi" class="nav-link" asp-action="changestatus" asp-controller="category" asp-area="admin" style="font-size:small">
                        Trạng thái phòng thi
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageDanhSachChuDePhongThi" class="nav-link" asp-action="list" asp-controller="category" asp-area="admin" style="font-size:small">
                        Danh sách phòng thi
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageThemChuDePhongThi" class="nav-link" asp-action="create" asp-controller="category" asp-area="admin" style="font-size:small">
                        Tạo phòng thi
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-group" aria-expanded="false">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="bi-folder2-open mx-3"></i>
                Câu hỏi
            </a>
            <ul class="nav-group-items" style="height: auto;">
                <li class="nav-item">
                    <a id="pageDanhsachcauhoi" class="nav-link" asp-action="list" asp-controller="question" asp-area="admin" style="font-size:small">
                        Danh sách câu hỏi
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageThemcauhoitracnghiem" class="nav-link" asp-action="create" asp-controller="question" asp-area="admin" style="font-size:small">
                        Tạo câu hỏi trắc nghiệm
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageThemcauhoituluan" class="nav-link" asp-action="createtuluan" asp-controller="question" asp-area="admin" style="font-size:small">
                        Tạo câu hỏi tự luận
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-group" aria-expanded="false">
            <a class="nav-link nav-group-toggle" href="#">
                <i class="bi-folder2-open mx-3"></i>
                Bộ phận & Tài khoản
            </a>
            <ul class="nav-group-items" style="height: auto;">
                <li class="nav-item">
                    <a id="pageThembophanmoi" class="nav-link" asp-action="listbophan" asp-controller="deptuser" asp-area="admin" style="font-size:small">
                        Danh sách bộ phận
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageDanhsachbophantaikhoan" class="nav-link" asp-action="list" asp-controller="deptuser" asp-area="admin" style="font-size:small">
                        Danh sách tài khoản
                    </a>
                </li>
                <li class="nav-item">
                    <a id="pageThemtaikhoanmoi" class="nav-link" asp-action="createtaikhoan" asp-controller="deptuser" asp-area="admin" style="font-size:small">
                        Tạo tài khoản
                    </a>
                </li>
            </ul>
        </li>     
        <li class="nav-title">Cài đặt</li>
        <li class="nav-item">
            <a id="pageDiemsoThongke" class="nav-link" asp-action="index" asp-controller="setting" asp-area="admin">
                <i class="bi-gear mx-3"></i>
                Cài đặt chức năng
            </a>
        </li>
        <li class="nav-item">
            <a id="pageDiemsoThongke" class="nav-link" asp-action="help" asp-controller="setting" asp-area="admin">
                <i class="bi-question-circle mx-3"></i>
                Tài liệu hỗ trợ
            </a>
        </li>
    </ul>
</div>
@if (ViewData["Active"] != null)
{
    string tenthe = ViewData["Active"].ToString();
    <script type="text/javascript">
        var element = document.getElementById("@tenthe");
        if (element !== null) {
            element.classList.add("active");
        }
    </script>
}
