<div id="carouselExampleIndicators" class="carousel slide mb-3" data-coreui-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-coreui-interval="1000">
            <img src="~/bac99fa27fdb4272b70991f7889622f7_TR150.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item " data-coreui-interval="2000">
            <img src="~/522ce28b0ede451aa4937f784acab72d_SELPHY+CP1500.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-coreui-interval="2000">
            <img src="~/7f27d5a160c44b0bbdf3f153415d3d81_b0f8efa5e22947e89ad7e1ffe5ae50d5_Banner_1920x750px_150dpi_11Sep.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleIndicators" data-coreui-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
